*.m~
*.txt~
LastSettings.mat
LastValues.mat
BaphyHWSetup.mat
BaphyMainGuiSettings.mat
MeskaSettings.mat
baphy.mat
*.asv
*#
SoundObjects/@Torc2/Sounds/*.txt
SoundObjects/@Torc2/Sounds/*.wav
save_comp_phs.mat
Config/BaphyConfigPath.m