*.m~
*.txt~
.DS_Store
LastSettings.mat
LastValues.mat
BaphyHWSetup.mat
BaphyMainGuiSettings.mat
BaphyRefTarGuiSettings.mat
MeskaSettings.mat
baphy.mat
*.asv
*#
SoundObjects/@Torc2/Sounds/*.txt
SoundObjects/@Torc2/Sounds/*.wav
save_comp_phs.mat
Config/BaphyConfigPath.m
Config/lbhb/SoundObjects/@NoiseSample/cache/*.wav
Config/lbhb/SoundObjects/@NoiseSample/cache/*.mat
/Config/HWSetupParams.mat
/Modules/RefTar/TrialObjects/@ReferenceTarget/LastLookup.mat
